{% extends 'base.html.twig' %}

{% block title %} {{ pages.title | default ('Page par défaut') }} {% endblock %}

{% block body %}

{% include 'page_head/page_head.html.twig' with { 'page_name': pages.title | default ('Page par défaut') } %}

<div class="main_content">
        <div class="section">
            <div class="container">
            {# Ici, il est important de passer en premier filtre default puis raw, sinon, ça ne fonctionne pas #}
                {{ pages.content | default ('Veuillez insérer un contenu') | raw  }}
            </div>
        </div>
</div>

{% endblock %}